# Binaries
qiscus-agent-allocator
*.exe
*.out
*.test

# Vendor directory (if you ever use vendoring)
vendor/

# OS files
.DS_Store
Thumbs.db

# Logs & runtime files
*.log
*.pid
*.env
*.sqlite
*.db

# IDEs & editors
.idea/
.vscode/
*.swp
*.swo

# Docker
.dockerignore

# Go build cache
/go.sum
